<h2>Pagina inicial - Opções - Pesquisar produtos</h2>
<form>
    <div class="form-group grupo-pesquisa-produto">
        <label for="pesquisa-produto">Nome do produto</label>
        <input type="text" name="pesquisa-produto" class="form-item pesquisa-produto">
    </div>
    <button class="btn-pesquisar">Pesquisar</button>
</form>
<table>
    <tr>
        <th>Nome do produto</th>
        <th>Valor unitário</th>
        <th>Configuração</th>
        <th>Data de inclusão</th>
    </tr>
    <tr>
        <td>1 Centro de Coxinha de frango com queijo</td>
        <td>R$: 50,00</td>
        <td>icones</td>
        <td>29/05/2020</td>
    </tr>
</table>