<section class="produto">
    <div class="guia-paginas">
        <h2>Página Inicial - Cadastros - Produto</h2>
    </div>
    <div class="bloco-opcoes">
        <div class="content">
            <i class="fa fa-gift"></i>
        </div>
        <div class="footer">
            <h3>Cadastrar novo</h3>
        </div>
    </div>
    <a [routerLink]="['/content/cadastros/produto/pesquisa-produto/pesquisa-produto']">
        <div class="bloco-opcoes">
            <div class="content">
                <i class="fa fa-gift"></i>
            </div>
            <div class="footer">
                <h3>Pesquisar produto</h3>
            </div>
        </div>
    </a>
</section>